.centerText {
    text-align: center;
}

.line-height{
    line-height: 0.2;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.margin-top{
    margin-top: 20px;
}

table, th, td {
    /* border:1px solid black; */
    border: 1px;
    border-style: solid;
    border-color: black;
  }

  .center{
    margin: auto;
    width: 50%;
    padding: 10px;
  }